* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 500;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
